{% extends 'base.html' %}

{% block content %}
    <div class="my-border" style="border-radius: 13px">
        <p class="log-in-p mt-5">Log in</p>
        <div class="container col-lg-4 offset-lg-4 mt-5 log-in-form">
            <form method="post"> {% csrf_token %}
                <div class="form-control-lg" id="inputEmail3">
                    {{form.as_p}}
                </div>
                <input class="btn btn-light log-in-button col-lg-4" type='submit' value='Login'>
            </form>
        </div>
    </div>
{% endblock %}

<!--
    class="form-label
-->