{% extends 'base.html' %}
{% block content%}
    <div>
        {% if qs %}
            <h1 style="margin-top: 100px">[{{ qs.count }}] Result</h1>
            <br/>
            {% for post in qs %}
                <article>
                    <div class="articles col-lg-6 offset-3">
                        <div class="article mt-5">
                            <div class="article-detail-list row">
                                <img class="author-img col-sm-3" src="{{ post.author.profile.image.url }}">
                                <div class="col-sm-4">
                                    <h3 class="author"><a href="{% url 'post:user-posts' post.author.username %}">{{ post.author }}</a></h3>
                                    <small class="date">{{ post.date|date:" F d , Y" }}</small>
                                </div>
                            </div>
                            <p><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
                        </div>
                    </div>
                </article>
                {% empty %}
            
                <p style="margin-top:200px !important">No results</p>
            {% endfor %}
        {% else %}
            <h1 style="margin-top:200px !important; text-align: center; font-size: 30px;">No result</h1>
        {% endif %}
    </div>
{% endblock %}