{% extends 'base.html' %}
{% load static %}
{% block content%}
    <h1 class="title" style="margin-top: 80px">({{ posts.count }}) posted by {{ view.kwargs.username }}</h1>
    {% for post in posts %}
            <article>
                <div class="articles col-lg-6 offset-3">
                    <div class="article mt-5">
                        <div class="article-detail-list row">
                            <img class="author-img col-sm-3" src="{{ post.author.profile.image.url }}">
                            <div class="col-sm-4">
                                <h3 class="author">{{ post.author }}</h3>
                                <small class="date">{{ post.date|date:" F d , Y" }}</small>
                            </div>
                        </div>
                        <p><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
                    </div>
                </div>
            </article>
    {% endfor %}
    <div onclick="topWindo()" class="up" id="up">&uarr;</div>
    
    <script src="{% static 'js.js' %}"></script>
{% endblock %}